In [2]:
import pandas as pd 
import numpy as np
import openpyxl

In [72]:
# reading all the 3 sheets in the Excel

CustomerDemographic_df = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='CustomerDemographic')
Transactions_df = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='Transactions')
CustomerAddress_df = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='CustomerAddress')

In [74]:
# Saving all the data to a csv
CustomerDemographic_df.to_csv('./new_data/CustomerDemographic_df.csv',index=False, header=False)
Transactions_df.to_csv('./new_data/Transactions.csv',index=False, header=False)
CustomerAddress_df.to_csv('./new_data/CustomerAddress_df.csv',index=False,header=False)

In [76]:
# reading all the three new data
CustomerDemographic_df = pd.read_csv('./new_data/CustomerDemographic_df.csv')
Transactions_df = pd.read_csv('./new_data/Transactions.csv')
CustomerAddress_df = pd.read_csv('./new_data/CustomerAddress_df.csv')


CustomerDemographic_df[['customer_id', 
                        # 'first_name', 'last_name', 
                        'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment',
        #  'deceased_indicator',
    #    'default',
     'owns_car', 'tenure']].to_csv('./new_data/CustomerDemographic_df.csv',index=False, header=False)

Checking Corectness of Customer Demographic

In [94]:
# checking if there are missing values
CustomerDemographic_df.isnull().sum() * 100/len(CustomerDemographic_df)

customer_id                             0.000
first_name                              0.000
last_name                               3.125
gender                                  0.000
past_3_years_bike_related_purchases     0.000
DOB                                     2.175
job_title                              12.650
job_industry_category                  16.400
wealth_segment                          0.000
deceased_indicator                      0.000
default                                 8.475
owns_car                                0.000
tenure                                  2.175
Date                                    2.175
dtype: float64

In [23]:
# Checking Unique Values 
CustomerDemographic_df.nunique()

customer_id                            4000
first_name                             3139
last_name                              3725
gender                                    6
past_3_years_bike_related_purchases     100
DOB                                    3448
job_title                               195
job_industry_category                     9
wealth_segment                            3
deceased_indicator                        2
default                                  89
owns_car                                  2
tenure                                   22
dtype: int64

In [98]:
# checking on date value
CustomerDemographic_df['Date'] = CustomerDemographic_df['DOB'].str.split(n=1).str[0]

CustomerDemographic_df['Date']=pd.to_datetime(CustomerDemographic_df['Date'], errors='coerce')


if CustomerDemographic_df['Date'].dtype == 'datetime64[ns]':
    print('They are all in right values')

else:
    print('Some values are not')

They are all in right values

In [101]:
# Cheking correct data types

if CustomerDemographic_df['customer_id'].dtype == 'int64':
    print('They are all in right values')

else:
    print('Some values are not')

They are all in right values

In [102]:

if CustomerDemographic_df['tenure'].dtype == 'float':
    print('They are all in right values')

else:
    print('Some values are not')

They are all in right values

In [104]:
CustomerDemographic_df.columns

Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure', 'Date'],
      dtype='object')

In [133]:
validation_results = {
    'Missing Values': CustomerDemographic_df[['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure', 'Date']].isna().any(),
    'Unique Values': CustomerDemographic_df[['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure', 'Date']].nunique() == len(CustomerDemographic_df),
}

for check, result in validation_results.items():
    if not result.all():
        print(f"{check} Check Failed:")
        print(result)

Missing Values Check Failed:
customer_id                            False
first_name                             False
last_name                               True
gender                                 False
past_3_years_bike_related_purchases    False
DOB                                     True
job_title                               True
job_industry_category                   True
wealth_segment                         False
deceased_indicator                     False
default                                 True
owns_car                               False
tenure                                  True
Date                                    True
dtype: bool
Unique Values Check Failed:
customer_id                             True
first_name                             False
last_name                              False
gender                                 False
past_3_years_bike_related_purchases    False
DOB                                    False
job_title                              False
job_industry_category                  False
wealth_segment                         False
deceased_indicator                     False
default                                False
owns_car                               False
tenure                                 False
Date                                   False
dtype: bool

In [77]:
Transactions_df.head(5)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date,Dates
0,1,2,2950,2017-02-25 00:00:00,False,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0,2017-02-25
1,2,3,3120,2017-05-21 00:00:00,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0,2017-05-21
2,3,37,402,2017-10-16 00:00:00,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0,2017-10-16
3,4,88,3135,2017-08-31 00:00:00,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0,2017-08-31
4,5,78,787,2017-10-01 00:00:00,True,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0,2017-10-01

In [82]:
Transactions_df.duplicated().sum()

0

In [89]:
Transactions_df_missingP = Transactions_df.isnull().sum() * 100/len(Transactions_df)

Transactions_df_missingP

transaction_id             0.000
product_id                 0.000
customer_id                0.000
transaction_date           0.000
online_order               1.800
order_status               0.000
brand                      0.985
product_line               0.985
product_class              0.985
product_size               0.985
list_price                 0.000
standard_cost              0.985
product_first_sold_date    0.985
Dates                      0.000
dtype: float64

In [83]:
Transactions_df['order_status'].unique()

array(['Approved', 'Cancelled'], dtype=object)

In [84]:
Transactions_df['list_price'].dtype

dtype('float64')

In [87]:
Transactions_df['product_first_sold_date'].dtype

dtype('float64')

In [67]:
Transactions_df['Dates'] = Transactions_df['transaction_date' ].str.split(n=1).str[0]

Transactions_df['Dates'] =pd.to_datetime(Transactions_df['Dates'], errors='coerce')


if Transactions_df['Dates'].dtype == 'datetime64[ns]':
    print('They are all in right values')

else:
    print('Some values are not')

# checking for missing values in same data

Transactions_df['Dates'].isnull()

They are all in right values

0        False
1        False
2        False
3        False
4        False
         ...
19995    False
19996    False
19997    False
19998    False
19999    False
Name: Dates, Length: 20000, dtype: bool

In [114]:
CustomerAddress_df.head(5)

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [129]:
validation_results = {
    'Missing Values': CustomerAddress_df[['address','postcode','state','country','property_valuation']].isna().any(),
    'Unique Values': CustomerAddress_df[['address','postcode','state','country','property_valuation']].nunique() == len(CustomerAddress_df),
    # 'Data Type': CustomerAddress_df['postcode'].dtypes == object
}

for check, result in validation_results.items():
    if not result.all():
        print(f"{check} Check Failed:")
        print(result)

Missing Values Check Failed:
address               False
postcode              False
state                 False
country               False
property_valuation    False
dtype: bool
Unique Values Check Failed:
address               False
postcode              False
state                 False
country               False
property_valuation    False
dtype: bool